* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

:root {
    --black: rgb(22, 22, 22);
    --white: rgb(250, 250, 250);
}

/* --------------------------------------top-container--- */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --------------------------------------top-container--- */

/* --------------------------------------header--- */

header {
    height: 60px;
    background-color: var(--black);
    color: var(--white);
    padding: 6px 20px;
}

/* --------------------------------------header--- */

/* --------------------------------------main------ */

main {
    flex: 1;
}

/* --------------------------------------main------ */

/* --------------------------------------task modal ------- */

#task-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

#task-modal-container.active {
    display: flex;
}

#task-modal {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 2rem;
}

.task-modal-form {
    display: flex;
    flex-direction: column;
}

/* --------------------------------------task modal ------- */


/* --------------------------------------task items container ------- */

.task-items-list {
    display: flex;
}


/* --------------------------------------task items container ------- */

/* --------------------------------------task item ------- */

.task-item {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
}


/* --------------------------------------task item ------- */


/* --------------------------------------task selector ------- */

.task-selector-container {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    list-style: none;
}

/* --------------------------------------task selector ------- */



/* --------------------------------------footer------------ */

footer {
    margin-top: auto;
}

/* --------------------------------------footer------------ */